name: Cache Demo

on: [push]

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: prime-cache-4f7de3c
        uses: actions/cache@v4
        with:
          key: cache-4f7de3c
          path: ~/.cache/demo  # Dummy path; anything works for this test
